
    <div id='header'>
        <!-- Header Image Displayes here -->
    </div>
    <div id='menu'>
        <!-- Header Image Displayes here -->
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Product Catalog</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div id='container'>
        <div id='content'>


            <img src="Images/Site/drivingrange.png" class="floatRight" alt="Model Pict">
            <h2>Introduction</h2>
            <p>
                TLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel commodo mi. Phasellus dapibus porttitor augue, et porta urna malesuada sed. Nulla fringilla, dui id facilisis posuere, nisi nunc iaculis turpis, non cursus lacus urna et est. Etiam fringilla felis magna. Aliquam erat volutpat. Vestibulum et augue vestibulum erat tempor varius. Ut eu interdum libero. Ut sollicitudin pretium erat. Mauris vulputate magna vitae nunc pharetra commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec cursus libero vel dolor interdum tempor. Curabitur vulputate cursus tortor quis viverra.
                <br><br>
                Pellentesque sed metus odio, eu pharetra sapien. Ut facilisis, est a placerat interdum, ipsum arcu malesuada justo, vel fermentum lorem magna ac sem. Vestibulum ultricies ligula id elit commodo facilisis. Suspendisse at convallis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras nec urna ornare felis facilisis vulputate. In sed mi ac arcu facilisis vestibulum sit amet sit amet mi. Curabitur mollis laoreet sapien, a consequat augue porta a. Donec aliquet leo in mauris aliquam eu euismod metus bibendum. Donec at dolor justo. Mauris vestibulum metus dapibus dolor tempus ac tempus tortor elementum.
                <img src="Images/Site/Green.png" class="floatLeft" alt="Books Example">
                Vestibulum aliquet accumsan quam id tempor. Suspendisse risus nunc, volutpat sit amet mattis sit amet, interdum ut diam. Suspendisse at dapibus lacus. Morbi porttitor velit sit amet nisl consequat sit amet dictum elit facilisis. Fusce ut luctus enim. Nam scelerisque ultrices diam, id tempor sem faucibus ac. Vestibulum dui justo, fringilla ut aliquet nec, tincidunt ac sem.
            </p>

            <p>
                Vestibulum aliquet accumsan quam id tempor. Suspendisse risus nunc, volutpat sit amet mattis sit amet, interdum ut diam. Suspendisse at dapibus lacus. Morbi porttitor velit sit amet nisl consequat sit amet dictum elit facilisis. Fusce ut luctus enim. Nam scelerisque ultrices diam, id tempor sem faucibus ac. Vestibulum dui justo, fringilla ut aliquet nec, tincidunt ac sem.
                Vestibulum aliquet accumsan quam id tempor. Suspendisse risus nunc, volutpat sit amet mattis sit amet, interdum ut diam. Suspendisse at dapibus lacus. Morbi porttitor velit sit amet nisl consequat sit amet dictum elit facilisis. Fusce ut luctus enim. Nam scelerisque ultrices diam, id tempor sem faucibus ac. Vestibulum dui justo, fringilla ut aliquet nec, tincidunt ac sem.
            </p>

        </div>
        <div id='first-column'>
            <div class="searchbox">
                <h2 class="BoxHeaders">Search</h2>
                <input type="text" name="search" /><input type="submit" value="Search" />
            </div>
            <div class="box">
                <h2 class="BoxHeaders">Competition</h2>
                <img src="Images/Site/Green.png" name="Rotating" id="Rotating1" alt="Special Offers	">
            </div>


        </div>
    </div>
    <div id='footer'>
        <h6 class="footertext">&copy;  SH Golf Store&trade; 2014</h6>
    </div>
